*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

*:not(i) {
  font-family: 'Rubik', sans-serif;
}

body {
  height: 100vh;
}

.container {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25 );
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
}

input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 46px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 20px;
  border: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.buttons button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #d5d5dc;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s ease;
}

.buttons button:not(.active):hover {
  color: #291c66;
  border-color: #291c66;
}

.rotate-icon i {
  transform: rotate(45deg);
}

.buttons .active {
  border: none;
  background-color: #3b2d82;
  color: #fff;
}

button.submit {
  display: block;
  background-color: #3b2d82;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  padding: 12px 70px;
  border-radius: 25px;
  margin: 0 auto 30px;
  cursor: pointer;
  transition: all .25s ease;
}

button.submit:hover {
  background-color: #291c66;
}

.output {
  background-color: #f0f2fc;
  position: relative;
  border-radius: 10px;
  padding-bottom: 35px;
  margin-bottom: 30px;
}

.output textarea {
  width: 100%;
  height: 70px;
  resize: none;
  font-size: 14px;
  color: #30304a;
  padding: 10px 20px 5px;
  background: none;
}

.btn-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #3b2d82;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  padding: 12px 70px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all .25s ease;
  overflow: hidden;
}

.btn-copy-hover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 0;
  transition: all .25s ease;
}

.btn-copy i {
  font-size: 20px;
  padding-right: 10px;
}

.btn-copy span,
.btn-copy i {
  z-index: 1;
}

.btn-copy:hover .btn-copy-hover {
  top: 0;
}
